<%= form_tag("/users/search", method: "get") do %>
  <div class="form-group">
    <%= label_tag(:id, "Steam ID") %>
    <%= text_field_tag(:id, '', placeholder: "Steam ID", class: "form-control") %>
  </div>
  <%= submit_tag("Submit", class: 'btn btn-default') %>
<% end %>
